*.pyc
assistant/credentials/calender.json
assistant/credentials/credentials.json
assistant/credentials/google_credentials.json
assistant/credentials/test_API.py
assistant/credentials/token.json

assistant/__pycache__

assistant/credentials
assistant/cortanal.png
assistant/molt_bot.log
assistant/moltshit/openapi.json
assistant/moltshit/POW.md
assistant/moltshit/skill.md
assistant/raw_dump.json
assistant/test_moltshit_client.py
